[Desktop Entry]
Encoding=UTF-8
Name=Enscribi
Comment=Japanese and Chinese character handwriting recognition input method
Exec=enscribi
Icon=
Terminal=false
Type=Application
SingleInstance=true
StartupNotify=true
Categories=Keyboard;
